<div class="index-container">
  <div class="index-title">
    <h2>トップ</h2>
  </div>
  <div class="index-body">
    <ul>
      <li><%= link_to '当サイトの使い方', '/' %></li>
      <% @top_news.each do |top_new| %>
        <li>
        <% if top_new.created_at == top_new.updated_at %>
          <span class="notice">
            <%= l top_new.created_at, format: :long %><i class="post-create"> NEW!</i>
          </span>
          <%= link_to top_new.page_title, "/#{top_new.content_type}/#{top_new.id}" %>
        <% else %>
          <span class="notice notice-update">
            <%= l top_new.created_at, format: :long %><i class="post-update"> UPDATE!!!</i>
          </span>
          <%= link_to top_new.page_title, "/#{top_new.content_type}/#{top_new.id}" %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
